<div class="card">
    <div class="card-header">
        <strong>Contas</strong>
        <small>Details</small>
    </div>
    <form class="form-horizontal" (ngSubmit)="salvarConta(contaForm.value)" #contaForm="ngForm">
        <div class="card-block">
            <div *ngIf="!novaConta" class="form-group row">
                <label class="col-md-3 form-control-label" for="id">ID:</label>
                <span class="col-md-9">{{conta._id}}</span>
            </div>
            <div class="form-group row">
                <label id="campoNome" class="col-md-3 form-control-label" for="nome">Nome</label>
                <div class="col-md-9">
                    <input [ngModel]="conta?.nome" #nome="ngModel" required id="nome" name="nome" placeholder="Nome Conta" class="form-control">
                    <span [hidden]="nome.valid || nome.pristine" class="help-block text-danger">Por favor, digite o Nome da Conta.</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button [disabled]="!contaForm.form.valid" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Salvar</button>
            <button *ngIf="conta" (click)="removerConta()" type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Remover</button>
            <button (click)="redirectToList(contaForm.value)" type="reset" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i> Voltar</button>
        </div>
    </form>
</div>
