<div class="row">
    <div class="col-xs-8 offset-xs-2">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Contas
            </div>
            <div class="card-block">

<!-- Async pipe is used to bind an observable directly in our template -->
<div *ngFor="let conta of contas$ | async">
  {{ conta | json}} <button >x</button>
</div>

                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Conta</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let conta of contas" (click)="onSelect(conta)">
                            <td>{{conta.id}}</td>
                            <td>{{conta.name}}</td>
                            <td>
                                <span class="tag tag-success">Active</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--/col-->
</div>
<router-outlet></router-outlet>
