<section class="filtros-wrapper">
	<section class="btn-adicionar">
		<button (click)="adicionar()" type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i> Adicionar</button>
	</section>
	<section class="competencia">
		<div class="input-group">
			<span class="input-group-addon p1" (click)="showDatePicker=(!showDatePicker)"><i class="fa fa-calendar"></i></span>
			<span class="input-group-addon input-group-addon-white p1 text-primary" (click)="previousMonth()"><i class="fa fa-chevron-left fa-lg"></i></span>
			<div *ngIf="showDatePicker" class="datepicker-popup">
				<datepicker [(ngModel)]="mesCompetencia" (selectionDone)="onSelectionDone($event)" [ngModelOptions]="{standalone: true}"
				 [datepickerMode]="'month'" [maxMode]="'month'" [minMode]="'month'"></datepicker>
			</div>
			<input [ngModel]="mesCompetencia | date:'MM/yyyy'" class="form-control form-control text-center" id="data" name="data" placeholder="Mês/Ano"
			 [input-mask]="'00/0000'" #inputCompetencia (keyup)="onCompetenciaChanged(inputCompetencia.value)">
			<span class="input-group-addon input-group-addon-white p1 text-primary" (click)="nextMonth()"><i class="fa fa-chevron-right fa-lg"></i></span>
		</div>
	</section>
	<section class="btn-toogle-contas">
		<button (click)="contasChange()" type="button" [ngClass]="contasClass" class="ml-1"><i class="fa fa-credit-card-alt"></i></button>
	</section>
	<section class="btn-toogle-categorias">
		<button (click)="categoriaChange()" type="button" [ngClass]="categoryClass"><i class="fa fa-tags"></i></button>
	</section>
</section>
