<div class="card">
	<div class="card-header">
		<i class="fa fa-align-justify"></i> Lançamentos
	</div>
	<div class="card-block">
		<table class="table table-bordered table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Data</th>
					<th>Descrição</th>
					<th>Valor</th>
					<th>Conta</th>
					<th>Categoria</th>
					<th>Débito?</th>
				</tr>
			</thead>
			<tbody>
				<!-- Async pipe is used to bind an observable directly in our template -->
				<tr *ngFor="let lancamento of lancamentos" (click)="onSelect(lancamento)">
					<td *ngIf="lancamento.show">{{lancamento.data | date:"dd/MM/yyyy"}}</td>
					<td *ngIf="lancamento.show">{{lancamento.descricao}}</td>
					<td *ngIf="lancamento.show">{{lancamento.valor | currency:'BRL':true:'1.2-2'}}</td>
					<td *ngIf="lancamento.show">{{lancamento.conta.nome}}</td>
					<td *ngIf="lancamento.show">{{lancamento.categoria.nome}}</td>
					<td *ngIf="lancamento.show">{{lancamento.isDebito | boolean}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
