<!--
	<p>lancamento: {{lancamento|json}}</p>
	<p>categorias: {{categorias|json}}</p>
	<p>lancamentoForm: {{lancamentoForm.value|json}}</p>
-->
<section class="lancamento-detail-form">
	<form (ngSubmit)="salvarLancamento(lancamentoForm.value)" #lancamentoForm="ngForm">

		<!-- Nav tabs -->
		<tabset>
			<tab heading="Lançamento">
				<div class="card">
					<div class="card-block">
						<section class="lancamento-detail-wrapper">
							<div class="lancamento-detail-data-field">
								<div class="input-group">
									<span class="input-group-addon default-padding default-font" (click)="showDatePicker=(!showDatePicker)">
										<i style="padding-left: 0.7em;" class="fa fa-calendar"></i>
									</span>
									<div *ngIf="showDatePicker" style="position:absolute; top:35px; z-index:10; min-height:290px;">
										<datepicker [(ngModel)]="dataLancamento" (selectionDone)="showDatePicker=false" [ngModelOptions]="{standalone: true}"></datepicker>
									</div>
									<input [ngModel]="dataLancamento | date:'dd/MM/yyyy'" class="form-control form-control-sm default-padding default-font" id="data"
									 name="data" placeholder="Data" required [input-mask]="'00/00/0000'">
								</div>
							</div>

							<div class="lancamento-detail-descricao-field">

								<input [ngModel]="lancamento.descricao" required type="text" class="form-control form-control-sm default-padding default-font"
								 id="descricao" name="descricao" placeholder="Descrição" [focus]="lancamento">
							</div>

							<div class="lancamento-detail-valor-field">
								<input style="text-align: right;" [ngModel]="lancamento.valor" required class="form-control form-control-sm default-padding default-font"
								 id="valor" name="valor" [input-mask]="'###.##9,99'" [input-mask-options]="{reverse: true}" autocomplete="off" placeholder="0,00">
							</div>

							<div class="lancamento-detail-conta-field">

								<select [ngModel]="lancamento.conta" class="form-control form-control-sm default-padding default-font default-height" id="conta"
								 name="conta" (ngModelChange)="contasChanged($event)">
									<!-- Outra forma seria passar através do $event: (change)="contasChanged($event.target.value)" -->
									<option [ngValue]="undefined">
										Conta
									</option>
									<option *ngFor="let c of contas" [ngValue]="c">
										{{c?.nome}}
									</option>
								</select>
							</div>

							<div class="lancamento-detail-categoria-field">

								<select [ngModel]="lancamento.categoria" class="form-control form-control-sm default-padding default-font default-height"
								 id="categoria" name="categoria">
									<option [ngValue]="undefined">
										Categoria
									</option>
									<option *ngFor="let cat of categorias" [ngValue]="cat">
										{{cat?.nome}}
									</option>
								</select>
							</div>

							<div class="lancamento-detail-debito-field">
								<span>
									Débito?
									<label class="switch switch-icon switch-danger-outline-alt">
										<input focus-blur-directive (onFocus)='focusSwitch($event)' (onBlur)='blurSwitch($event)' type="checkbox" [ngModel]="lancamento.isDebito"
										 id="isDebito" name="isDebito" class="switch-input">
										<span class="switch-label" data-on="" data-off=""></span>
										<span id="debitoSwitch" #debitoSwitch class="switch-handle"></span>
									</label>
								</span>
							</div>
						</section>
					</div>
					<div class="card-footer">
						<button [disabled]="!lancamentoForm.form.valid || !isLancamentoValido(lancamentoForm.value)" type="submit" class="btn btn-sm btn-primary">
							<i class="fa fa-dot-circle-o"></i> Salvar</button>
						<button *ngIf="!lancamento.periodicidade || lancamento.periodicidade.parcelaAtual>=lancamento.periodicidade.qtdParcelas"
						 [hidden]="!lancamento._id" (click)="removerLancamento()" type="button" class="btn btn-sm btn-danger">
							<i class="fa fa-close"></i> Remover
						</button>
						<button [swal]="deleteSwal" *ngIf="lancamento.periodicidade && lancamento.periodicidade.parcelaAtual<lancamento.periodicidade.qtdParcelas"
						 [hidden]="!lancamento._id" type="button" class="btn btn-sm btn-danger">
							<i class="fa fa-close"></i> Remover
						</button>
						<button (click)="voltar()" type="buttonn" class="btn btn-sm btn-warning">
							<i class="fa fa-ban"></i> Voltar</button>
						<swal #deleteSwal [options]="obterDeleteSwalOptions()" (confirm)="confirmarRemocao($event)"></swal>
						<swal #updateSwal [options]="obterUpdateSwalOptions()" (confirm)="confirmarAtualizacao($event)"></swal>
						<!-- <button [swal]="{
						title: 'Remover Lançamento Parcelado?',
						type:'question',
						backdrop: true,
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Todos',
						cancelButtonText:'Somente este',
						allowOutsideClick:false,
						input:'radio',
						inputOptions:{
							'SRB': 'Serbia',
							'UKR': 'Ukraine',
							'HRV': 'Croatia'
						  },
						showCloseButton:true }">
							Do it!
						</button>  -->
						<!-- <button [swal]="deleteSwal">Delete</button> -->
						<!-- text="Esse lançamento é parcelado. Deseja remover somente este lançamento ou todos a partir desse?" -->
						<!-- <swal #deleteSwal title="Remover Lançamento Parcelado?"
						 type="question" backdrop="true" showCancelButton="true" confirmButtonColor="#3085d6" cancelButtonColor="#d33" confirmButtonText="Todos"
						 cancelButtonText="Somente este" allowOutsideClick="false" showCloseButton="true" input="radio" inputOptions="{'SRB': 'Serbia','UKR': 'Ukraine','HRV': 'Croatia'}"></swal> -->
						<!-- [showCancelButton]="true"
						 [focusCancel]="true" (confirm)="deleteFile(file)"> -->
					</div>
				</div>
			</tab>

			<tab heading="Repetição">
				<div class="card">
					<div class="card-block">
						<section class="lancamento-detail-repeticao-wrapper">
							<div class="l-detail-repeticao-field-wrapper">
								<span class="label">Repetir a cada</span>
								<input type="number" min="0" max="999" [ngModel]="lancamento.periodicidade?.valorPeriodo" class="small-input form-control form-control-sm default-padding default-font"
								 id="valorPeriodo" name="valorPeriodo" placeholder="0">
								<select [ngModel]="lancamento.periodicidade?.tipo || 'mes'" class="medium-select form-control form-control-sm default-padding default-font default-height"
								 id="tipoPeriodo" name="tipoPeriodo">
									<option value="dia">dia</option>
									<option value="mes">mês</option>
									<option value="semana">semana</option>
									<option value="ano">ano</option>
								</select>
							</div>

							<div class="l-detail-repeticao-field-wrapper">
								<span class="label">Iniciar na parcela</span>
								<input type="number" min="0" max="999" [ngModel]="lancamento.periodicidade?.parcelaAtual" class="small-input form-control form-control-sm default-padding default-font"
								 id="parcelaAtual" name="parcelaAtual" placeholder="0">
								<span class="label">de</span>
								<input type="number" min="0" max="999" [ngModel]="lancamento.periodicidade?.qtdParcelas" class="small-input form-control form-control-sm default-padding default-font"
								 id="qtdParcelas" name="qtdParcelas" placeholder="0">
							</div>

							<div class="l-detail-repeticao-field-wrapper">
								<div>Totalizando:
									<span class="label digits">{{obterValorTotalParcelas(lancamentoForm.value) | currency:'BRL':'symbol-narrow':'1.2-2'}}</span>
								</div>
							</div>
						</section>
					</div>
				</div>
			</tab>

			<tab heading="Notas">
				<div class="card">
					<div class="card-block">
						<div class="form-group row">
							<div class="col-sm-12">
								<textarea [ngModel]="lancamento.nota" id="nota" name="nota" rows="4" class="form-control form-control-sm" placeholder="Conteúdo.."></textarea>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>

	</form>
</section>
