<h1>Detalhe Lançamento</h1> 
<br>
<div class="col-md-6 mb-2">
    <tabset class="tab-container">
        <ul class="nav nav-tabs" ng-reflect-klass="nav" ng-reflect-ng-class="[object Object]">
            <!--template bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object],[object Object]"
}-->
            <li ng-reflect-class-name="nav-item " class="nav-item active">
                <a class="nav-link active" href="javascript:void(0);">
                    <span ng-reflect-ng-transclude="[object Object]"></span><i class="icon-calculator"></i> Calculator
                    <!--template bindings={
  "ng-reflect-ng-if": null
}-->
                </a>
            </li>
            <li ng-reflect-class-name="nav-item " class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <span ng-reflect-ng-transclude="[object Object]"></span><i class="icon-basket-loaded"></i> Shoping cart
                    <!--template bindings={
  "ng-reflect-ng-if": null
}-->
                </a>
            </li>
            <li ng-reflect-class-name="nav-item " class="nav-item ">
                <a class="nav-link" href="javascript:void(0);">
                    <span ng-reflect-ng-transclude="[object Object]"></span><i class="icon-pie-chart"></i> Charts
                    <!--template bindings={
  "ng-reflect-ng-if": null
}-->
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <tab class="tab-pane active">
                <div class="card">
                    <div class="card-header">
                        Use the grid for big devices!
                        <small>
                        <code>.col-lg-*</code>
                        <code>.col-md-*</code>
                        <code>.col-sm-*</code>
                    </small>
                    </div>
                    <div class="card-block">
                        <form action="" class="form-horizontal " method="post">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input class="form-control" placeholder=".col-md-8" type="text">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder=".col-md-4" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <input class="form-control" placeholder=".col-md-7" type="text">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" placeholder=".col-md-5" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input class="form-control" placeholder=".col-md-6" type="text">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder=".col-md-6" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <input class="form-control" placeholder=".col-md-5" type="text">
                                </div>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder=".col-md-7" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder=".col-md-4" type="text">
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder=".col-md-8" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit">Action</button>
                        <button class="btn btn-sm btn-danger" type="button">Action</button>
                        <button class="btn btn-sm btn-warning" type="button">Action</button>
                        <button class="btn btn-sm btn-info" type="button">Action</button>
                        <button class="btn btn-sm btn-success" type="button">Action</button>
                    </div>
                </div>
            </tab>
            <tab class="tab-pane">
                <!--template bindings={}-->
                3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </tab>
        </div>
    </tabset>
</div>
