.filtros-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(14, 1fr);
    // grid-column: 1/5;
    // grid-row: 1;
    align-items: center;
    justify-items: start;
}

.datepicker-popup {
    position: absolute;
    top: 35px;
    z-index: 10;
    min-height: 290px;
}

.input-group-addon-white {
    background-color: #fff;
}

.fa {
    &.fa-calendar {
        color: #3a9d5d;
    }
    &.fa-tags {
        color: rgba(255, 77, 77, 0.82);
    }
    &.credit-card-alt {
        color: rgba(55, 90, 183, 0.76);
    }
}

.btn-show-categoria-on {
    background-color: rgba(182, 103, 104, 1);
    .fa {
        &.fa-tags {
            color: #fff;
        }
    }
}

.btn-show-contas-on {
    background-color: rgba(118, 119, 194, 1);
    .fa {
        &.fa-credit-card-alt {
            color: #fff;
        }
    }
}
