<section class="lancamentos-list-header">
	<div>Data</div>
	<div>Descrição</div>
	<div>Valor</div>
	<div>Conta</div>
	<div>Categoria</div>
	<div>Débito?</div>
</section>

<section *ngFor="let lancamento of lancamentos">
	<section *ngIf="showLancamento(lancamento)" class="lancamentos-list-content" (click)="onSelect(lancamento)">
		<div>{{lancamento.data | date:"dd/MM/yyyy"}}</div>
		<div class="content-descricao-field">{{lancamento.descricao}}</div>
		<div class="content-valor-field">{{lancamento.valor | currency:'BRL':'symbol-narrow':'1.2-2'}}</div>
		<div>{{lancamento.conta.nome}}</div>
		<div>{{lancamento.categoria.nome}}</div>
		<div>{{lancamento.isDebito | boolean}}</div>
	</section>
	<lancamentos-detail *ngIf="lancamento.showDetail" [lancamento]="lancamento"></lancamentos-detail>

</section>
