<h3>Detalhe Lançamento</h3>
<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <tabset>
            <tab heading="Lançamento">
                <div class="card">
                    <div class="card-header">
                        <strong>Company</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company" placeholder="Enter your company name">
                        </div>
                        <div class="form-group">
                            <label for="vat">VAT</label>
                            <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
                        </div>
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street" placeholder="Enter street name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter your city">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">Postal Code</label>
                                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                            </div>
                        </div>
                        <!--/.row-->
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country name">
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Notas">
                2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </tab>
        </tabset>
    </div>
</div>