<h3>Lançamentos</h3>
<hr>
<main class="wrapper">

	<section class="filtros">
		<lancamentos-filtro (onShowCategoriaChange)="onShowCategoriaChange($event)" (onShowContaChange)="onShowContaChange($event)"></lancamentos-filtro>
	</section>

	<section class="detalhe-lancamento">
		<lancamentos-detail></lancamentos-detail>
	</section>

	<section class="contas" [class.hidden-xs-up]="!showContas">
		<contas-tree></contas-tree>
	</section>

	<section class="categorias" [class.hidden-xs-up]="!showCategorias">
		<categorias-tree></categorias-tree>
	</section>

	<section class="lancamentos" [class.expanded]="!showCategorias && !showContas">
		<lancamentos-list></lancamentos-list>
	</section>

</main>
