<h3>Lançamentos</h3>
<hr>
<div class="row">
	<div class="col-12">
		<lancamentos-filtro (onAdicionar)="onAdicionar($event)" (onShowCategoriaChange)="onShowCategoriaChange($event)"></lancamentos-filtro>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div *ngIf="lancamento">
			<lancamentos-detail [lancamento]="lancamento"></lancamentos-detail>
		</div>
	</div>
</div>
<div class="row">
	<div [class.hidden-xs-up]="!showCategorias" [class.col-2]="showCategorias">
		<categorias-tree></categorias-tree>
	</div>
	<div [class.col-12]="!showCategorias" [class.col-10]="showCategorias">
		<lancamentos-list (onSelectLancamento)="onSelectLancamento($event)"></lancamentos-list>
	</div>
</div>
