<tree-root #tree [nodes]="categorias" [options]="options" (onDeactivate)="onDeactivate($event)" (onActivate)="onActivate($event)">
	<template #loadingTemplate></template>
	<template #treeNodeTemplate let-node="node" let-index="index">
		<span>{{ node.data.nome }}</span>
		<div *ngIf="node.data.showBars" style="display: inline">
			<button (click)="clickBars(node)" style="background-color: rgba(0, 0, 0, 0);    border: 0;"><i class="fa fa-bars"></i></button>
		</div>
		<div *ngIf="node.data.showOptions" style="display: inline">
			<button (click)="edit(node, index)" style="background-color: rgba(245, 199, 79, 0.33);    border: 0;"><i class="fa fa-pencil"></i></button>
			<button (click)="remove(node, index)" style="background-color: rgba(79, 245, 82, 0.33);    border: 0;"><i class="fa fa-remove"></i></button>
			<button (click)="add(node, index)" style="background-color: rgba(41, 87, 142, 0.33);   border: 0;"><i class="fa fa-plus"></i></button>
			<div *ngIf="node.data.showEdit" class="m1">
				<input [(ngModel)]="node.data.novoNome" type="text">
				<button (click)="saveNode(node, index)" style="background-color: rgba(208, 9, 11, 0.33);border: 0;display: inline;margin-left: 5px;"><i class="fa fa-check"></i></button>
			</div>
		</div>
	</template>
</tree-root>
