<div class="block-tree-cat">
	<tree-root #tree [nodes]="categorias" [options]="options" (onDeactivate)="onDeactivate($event)" (onActivate)="onActivate($event)">
		<ng-template #loadingTemplate></ng-template>
		<ng-template #treeNodeTemplate let-node="node" let-index="index">
			<span>{{ node.data.nome }}</span>
			<div *ngIf="node.data.showBars" style="display: inline">
				<button (click)="clickBars(node)" style="background-color: rgba(0, 0, 0, 0);    border: 0;"><i class="fa fa-bars"></i></button>
			</div>
			<div *ngIf="node.data.showOptions" class="block-options">
				<button (click)="edit(node, index)" class="btn-edit-cat"><i class="fa fa-pencil"></i></button>
				<button (click)="remove(node, index)" class="btn-remove-cat"><i class="fa fa-remove"></i></button>
				<button (click)="add(node, index)" class="btn-add-cat"><i class="fa fa-plus"></i></button>
				<div *ngIf="node.data.showEdit" class="m1">
					<input [(ngModel)]="node.data.novoNome" type="text" class="input-cat">
					<button (click)="saveNode(node, index)" class="btn-save-cat"><i class="fa fa-check"></i></button>
				</div>
			</div>
		</ng-template>
	</tree-root>
</div>
