.block-tree-cat {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 0.75em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(195, 196, 214, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(195, 196, 214, 1); //box-shadow: 10px 10px 34px -9px rgb(144, 11, 11);
    box-shadow: 2px 2px 1px 1px rgb(144, 11, 11);
    background-color: rgba(189, 7, 7, 0.08);
}

.block-options {
    display: inline;
}

.btn-add-cat {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0, 123, 2, 0.43);
    border: 0;
}

.btn-remove-cat {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(208, 9, 11, 0.33);
    border: 0;
}

.btn-edit-cat {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(41, 87, 142, 0.33);
    border: 0;
}

.btn-save-cat {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(245, 199, 79, 0.33);
    border: 0;
    margin-left: 5px;
}

.cat-input-container {
    margin-top: 0.5em;
}

.input-cat {
    font-size: 10px;
    border: 0;
    padding: 0px;
}
