.container.home {
    padding-top: 55px;
}

.simple-notification-wrapper.bottom.right{
	bottom: 50px;
}

.navbar.navbar-flex-row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: $navbar-padding-y $navbar-padding-x;
    
    a.navbar-brand {
        flex-grow: 2;
    }
}
