<section class="login-wrapper">
	<div></div>
	<div class="card-login card-group">
		<div class="card p-2">
			<div class="card-block">
				<form #formRef="ngForm" (ngSubmit)="login(formRef.value)">
					<h1>Login</h1>
					<p class="text-muted">Sign In to your account</p>
					<div class="input-group mb-1">
						<span class="input-group-addon">
							<i class="icon-user"></i>
						</span>
						<input type="text" name="userName" [(ngModel)]="userName" class="form-control" placeholder="Username" [focus]="true">
					</div>
					<div class="input-group mb-2">
						<span class="input-group-addon">
							<i class="icon-lock"></i>
						</span>
						<input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password">
					</div>
					<div class="login-buttons-wrapper">
						<button type="submit" class="btn-login btn btn-primary">Login</button>
						<p>or</p>
						<div class="btn-spotify-login">
							<div>
								<a (click)="spotifySignIn()">Log in to Spotify</a>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6 offset-xs-6 text-xs-right">
							<button type="submit" class="btn btn-link p-x-0">Forgot password?</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div></div>
</section>