@import url('https://fonts.googleapis.com/css?family=Montserrat');
.login-wrapper {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .card-login {
        width: 25%;
        margin: 0;
        justify-self: center;
        .login-buttons-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;
            grid-row-gap: 5px;
            .btn-login {
                width: 30%;
                border-radius: 20px 20px;
            }
            p {
                width: 2em;
                margin: 0;
            }
            .btn-spotify-login {
                cursor: pointer;
                font-size: 1em;
                line-height: 1;
                border-radius: 500px;
                padding: 11px 32px 9px;
                color: #fff;
                background-color: #1db954;
                text-align: center;
                font-weight: 800;
            }
        }
    }
}

.feature {
    display: none;
}