<nav class="navbar navbar-flex-row navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">MEAN</a>   
    <div>
        <button class="btn btn-outline-success" [routerLink]="['/register']">Register</button>
        <button class="btn btn-outline-primary" [routerLink]="['/login']">Login</button>        
    </div>
</nav>
<div class="container home">
    <div class="row">
        <div class="center">
            <img src='assets/img/mean-architecture.jpg'>
        </div>
    </div>
</div>
